[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
jsonschema = "*"
bson = "*"
flask-pymongo = {extras = ["srv", "tls"],version = "*"}
itsdangerous = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
